<footer class="jp-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4 d-flex align-items-center justify-content-center">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="tel:{{site.data.meta.phone}}" rel="nofollow">
                            <img src="../assets/img/icon-phone-white.svg" height="35" width="35"/></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{site.data.meta.facebook}}">
                            <img src="../assets/img/icon-facebook-white.svg" height="36" width="36"/></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{site.data.meta.instagram}}">
                            <img src="../assets/img/icon-instagram-white.svg" height="36" width="36"/></a>
                    </li>
                </ul>
            </div>
            <div dir="ltr" class="col-lg-4 d-flex justify-content-center justify-content-lg-start align-items-center pt-2 pt-lg-0">
                <small class="text-uppercase font-weight-light">{{site.data.meta.copyright}}</small>
            </div>
        </div>
    </div>
</footer>
