<header class="jp-header">
    <div class="container d-flex align-items-center">

        <a class="ml-auto logo-main" href="/"><img src="../assets/img/jp-logo.svg" height="46"/></a>

        <ul class="nav">

            {% assign menu_pages = site.html_pages | where:"inHeader","true" | sort: 'order' %}
            {% for item in menu_pages %}
            <li class="nav-item">
                <a class="{% if page.url == item.url %}active {% endif %}nav-link" href="{{item.url}}">{{item.title}}</a>
            </li>
            {% endfor %}

            <li class="nav-item">
                <a class="nav-link px-0" href="{{site.data.meta.facebook}}" target="_blank">
                    <img src="../assets/img/icon-facebook.svg" height="20" width="20"/></a>
            </li>
            <li class="nav-item mr-3">
                <a class="nav-link px-0" href="{{site.data.meta.instagram}}" target="_blank">
                    <img src="../assets/img/icon-instagram.svg" height="20" width="20"/></a>
            </li>
        </ul>

        <div class="d-lg-none jp-burger" id="burgerButton">
            <div></div>
            <div></div>
            <div></div>
        </div>

    </div>
</header>