<!-- The Modal -->
<div id="jpModal" class="jp-modal js-hidden">
    <div class="jp-modal-content">
        <h3 class="pb-4 text-center h1 ff-37">מדהים! הוספנו להזמנה <br class="d-none d-md-block">מה עכשיו?</h3>
        <div class="d-flex flex-column flex-md-row justify-content-around">
        <a class="btn btn-secondary jp-btn-lg mt-3" id="jpModalButtonClose" href="#">הזמן עוד</a>
        <a class="btn btn-secondary jp-btn-lg mt-3" id="jpModalButtonGoToAddress" href="#">הוסף להזמנה</a>
        </div>
    </div>
</div>