---
layout: default
---

<div class="jumbotron jumbotron-fluid mb-5">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-4 d-flex justify-content-center justify-content-lg-start align-items-center">
                <div class="text-uppercase text-light t-voltage t-voltage-lg"><span class="ls-wider">Roll</span> it<br>
                    Bowl it<br> <span class="ls-wider">Japo</span> it
                </div>
            </div>
            <div class="col-lg-8">
                <img class="img-fluid mt-3 mt-lg-0" src="/assets/img/hero.svg" alt="Roll it. Bowl it. Japo it">
            </div>
        </div>
    </div>
</div>

<div class="container py-5">
    <div class="row">
        <div class="col-md-5 d-none d-md-flex justify-content-end align-items-center ml-5">
            <img class="img-fluid" src="/assets/img/home_image.png" srcset="/assets/img/home_image.png 1x, /assets/img/home_image@2x.png 2x"
                 alt="ג׳אפו יפני בהרכבה אישית">
        </div>
        <div class="col-md-5">
            {{content}}
        </div>
    </div>
</div>
<hr class="container col-10 col-sm-8 jp-divider">

<div class="container py-5 jp-divider">
    <div class="row justify-content-center">
        <div class="col-lg-10 px-md-5">
            <h2 class="h1 t-main text-center text-lg-right">ג׳אפו בחמישה שלבים</h2>
            <div class="jp-steps">
                <div class="jp-step">
                    <h3 class="t-main">שלב 1</h3>
                    <p class="jp-step-desc">בחר קערה או מגולגל</p>
                    <div class="jp-step-image" style="background-image: url('/assets/img/step1-active@2x.png');"></div>
                </div>
                <div class="jp-step">
                    <h3 class="t-main">שלב 2</h3>
                    <p class="jp-step-desc">בחר את הבסיס למנה</p>
                    <div class="jp-step-image" style="background-image: url('/assets/img/step2-active@2x.png');"></div>
                </div>
                <div class="jp-step">
                    <h3 class="t-main">שלב 3</h3>
                    <p class="jp-step-desc">בחר את הבסיס למנה</p>
                    <div class="jp-step-image" style="background-image: url('/assets/img/step3-active@2x.png');"></div>
                </div>
                <div class="jp-step">
                    <h3 class="t-main">שלב 4</h3>
                    <p class="jp-step-desc">הוסף שלל ירקות</p>
                    <div class="jp-step-image" style="background-image: url('/assets/img/step4-active@2x.png');"></div>
                </div>
                <div class="jp-step">
                    <h3 class="t-main">שלב 5</h3>
                    <p class="jp-step-desc">בחר את הבסיס למנה</p>
                    <div class="jp-step-image" style="background-image: url('/assets/img/step5-active@2x.png');"></div>
                </div>
            </div>
            <div class="text-center mt-5 pt-4">
                <a class="btn btn-lg btn-secondary jp-btn-lg" href="/menu">צפייה בתפריט</a>
            </div>
        </div>
    </div>
</div>


